body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    padding: 20px;
}

.Quiz-area{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title{
    font-family: 'Comfortaa', cursive;
    border-radius: 15px;
    border: 1px dashed rgba(255, 112, 32, 0.75);
    background-color: #f9efe5;
    color: coral;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.cards-container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.card {
    width: 150px;
    height: 150px;
    margin: 10px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.front{
    color: #fd4a1d;
    background-color: rgba(249, 239, 229, 1);
    border: 2px solid rgba(255, 112, 32, 0.75);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
}
.back{
    color: #ffdcd6;
    background-color: rgba(255, 112, 32, 1);
    border: 2px solid white;
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden
}

.card:hover {
    transform: rotateY(180deg);
}

.cards-container{
    perspective: 1000px;
}